fastapi~=0.92.0
openai==0.27.0
SQLAlchemy~=2.0.1
python-dotenv~=1.0.0
uvicorn==0.20.0
PyJWT~=2.4.0
pymysql~=1.0.2
starlette~=0.25.0
azure-cognitiveservices-speech~=1.28.0
pydantic~=1.10.5
requests~=2.28.2
qiniu~=7.3.0
python-multipart
pydub~=0.25.1
